POSTGRES_DB=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

JWT_SECRET_KEY=
ACCESS_TOKEN_EXP_SEC=900
REFRESH_TOKEN_EXP_DAYS=7

ASYNC_CORE_SIZE=5
ASYNC_MAX_SIZE=20
ASYNC_QUEUE_CAPACITY=100
ASYNC_AWAIT_TERMINATION=30

SCHEDULER_POOL_SIZE=5
SCHEDULER_AWAIT_TERMINATION=30

CLEAN_REFRESH_TOKEN_CRON=0 0 3 * * *