POSTGRES_DB=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

JWT_SECRET_KEY=
ACCESS_TOKEN_EXP_SEC=900
REFRESH_TOKEN_EXP_DAYS=7

ASYNC_CORE_SIZE=5
ASYNC_MAX_SIZE=20
ASYNC_QUEUE_CAPACITY=100
ASYNC_AWAIT_TERMINATION=30

SCHEDULER_POOL_SIZE=5
SCHEDULER_AWAIT_TERMINATION=30

CLEAN_REFRESH_TOKEN_CRON=0 0 3 * * *

SUPERUSER_EMAIL=vienpham177@gmail.com
SUPERUSER_USERNAME=ximofam
SUPERUSER_PASSWORD=123456
SUPERUSER_FULL_NAME=Phạm Đặng Quốc Viễn
SUPERUSER_GENDER=MALE
SUPERUSER_AVATAR_URL=https://res.cloudinary.com/datah8lgd/image/upload/v1779982642/users/avatars/f940a2a0-75e1-4466-a945-9c050f5c437d_fse9aq.jpg