<?xml version="1.0"?>
<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <module name="FileTabCharacter"/>
    <module name="LineLength">
        <property name="max" value="200"/>
        <property name="ignorePattern" value="^package .*|^import .*"/>
    </module>
</module>
